@charset "UTF-8";

* {
    font-family: Arial;
}
body {
    margin: 0;
    padding: 0;
    background: #000;
}

header {
    background-image: url(imagens/bandeirales.png);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: center 0;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

header > div {
   
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

p {
   text-indent: 20px;
   padding: 10px;
   text-align: justify;
}

main {
    background-color: #fff;
    margin: 0 auto;
    width: 800px;
}